In [1]:
# Render our plots inline
%matplotlib inline
 
import pandas as pd
import matplotlib.pyplot as plt
import random

dataframe = pd.read_csv('./data/trace1.csv', encoding='utf-8', header=None, sep=',')
dataframe.head(5)

/home/chuongdv/.local/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (2,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,0,1,2,3,4,5,6,7,8,9,...,36,37,38,39,40,41,42,43,44,45
0,NaN,srcip,srcport,dstip,dstport,proto,total_fpackets,total_fvolume,total_bpackets,total_bvolume,...,sflow_fbytes,sflow_bpackets,sflow_bbytes,fpsh_cnt,bpsh_cnt,furg_cnt,burg_cnt,total_fhlen,total_bhlen,label
1,0.0,150.193.38.178,32133,210.149.31.11,25,6,10,706,11,620,...,706,11,620,6,7,0,0,404,444,smtp
2,1.0,150.193.125.234,62465,172.194.224.18,443,6,101,6840,180,241986,...,6840,180,241986,17,15,0,0,5252,9368,https
3,2.0,182.243.200.203,12155,150.193.15.202,80,6,6,450,6,961,...,450,6,961,2,1,0,0,320,320,http
4,3.0,113.80.154.130,22066,203.141.118.229,80,6,5,328,6,687,...,328,6,687,1,1,0,0,268,320,http

In [2]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21026 entries, 0 to 21025
Data columns (total 46 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       21025 non-null  float64
 1   1       21026 non-null  object
 2   2       21026 non-null  object
 3   3       21026 non-null  object
 4   4       21026 non-null  object
 5   5       21026 non-null  object
 6   6       21026 non-null  object
 7   7       21026 non-null  object
 8   8       21026 non-null  object
 9   9       21026 non-null  object
 10  10      21026 non-null  object
 11  11      21026 non-null  object
 12  12      21026 non-null  object
 13  13      21026 non-null  object
 14  14      21026 non-null  object
 15  15      21026 non-null  object
 16  16      21026 non-null  object
 17  17      21026 non-null  object
 18  18      21026 non-null  object
 19  19      21026 non-null  object
 20  20      21026 non-null  object
 21  21      21026 non-null  object
 22  22      21026 non-null  object
 23  23      21026 non-null  object
 24  24      21026 non-null  object
 25  25      21026 non-null  object
 26  26      21026 non-null  object
 27  27      21026 non-null  object
 28  28      21026 non-null  object
 29  29      21026 non-null  object
 30  30      21026 non-null  object
 31  31      21026 non-null  object
 32  32      21026 non-null  object
 33  33      21026 non-null  object
 34  34      21026 non-null  object
 35  35      21026 non-null  object
 36  36      21026 non-null  object
 37  37      21026 non-null  object
 38  38      21026 non-null  object
 39  39      21026 non-null  object
 40  40      21026 non-null  object
 41  41      21026 non-null  object
 42  42      21026 non-null  object
 43  43      21026 non-null  object
 44  44      21026 non-null  object
 45  45      21026 non-null  object
dtypes: float64(1), object(45)
memory usage: 7.4+ MB